h1{
    color: darkgoldenrod;
}

body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background-image: url("poker-table-background-green-color_47243-1068.avif");
    height: 100%;
    background-size: cover;
    font-weight: bold;
    color: white;
    background-attachment: fixed;
}

#message-el{
    font-style: italic;
}

button{
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 5px;
}